@font-face {font-family:"FZDiHouTiS Bold-FX";src: url("../fonts/FZDiHouTiSBold.ttf"); }@font-face {font-family:"FZHTTest-FX";src: url("../fonts/FZHTTest.ttf"); }.p2span11{color:RGB(255,255,255);position:absolute;}
.p2span3{position:absolute;}
.p2para1{font-size:21.00px;line-height:108%;}
.p2image5{height:1260.00px;position:absolute;width:640.00px;}
.p2para9{display:inline;left:0.00px;letter-spacing:0.00px;position:absolute;top:0.00px;}
.p2para10{display:inline;left:32.06px;letter-spacing:0.00px;position:absolute;top:0.00px;}
.p2textdiv0{height:1174.96px;left:42.52px;position:absolute;top:42.52px;width:554.96px;}
.p2InAdiv14{height:172.48px;left:28.01px;position:absolute;top:603.80px;width:222.62px;}
.p2InAdiv16{height:172.48px;left:28.01px;position:absolute;top:812.19px;width:222.62px;}
.p2InAdiv15{height:172.48px;left:311.49px;position:absolute;top:603.80px;width:214.12px;}
.p2InAdiv17{height:172.48px;left:311.49px;position:absolute;top:812.19px;width:214.12px;}
.p2InAdiv12{height:183.38px;left:28.01px;position:absolute;top:384.52px;width:222.62px;}
.p2InAdiv13{height:183.38px;left:311.49px;position:absolute;top:384.52px;width:214.12px;}
.p2textdiv6{height:42.00px;left:140.41px;position:absolute;top:336.51px;width:274.13px;}
.p2InAdiv18{height:62.00px;left:132.48px;position:absolute;top:1015.67px;width:290.00px;}
.p2para7{color:RGB(255,255,255);font-family:'FZDiHouTiS Bold-FX','FZDiHouTiS Bold-FX';font-size:42.00px;font-weight:bold;text-align:center;text-indent:0px;}
.p2imagediv4{height:1260.00px;left:-42.52px;overflow:hidden;position:absolute;text-align:left;top:-42.52px;width:640.00px;}
.p2pGrpDiv-FxLi2{-moz-transform:scale;-moz-transform-origin:0% 0%;-ms-transform:scale;-ms-transform-origin:0% 0%;-o-transform:scale;-o-transform-origin:0% 0%;-webkit-transform:scale;-webkit-transform-origin:0% 0%;height:1174.96px;transform:scale;transform-origin:0% 0%;width:554.96px;}
.p2pGrpDiv-FxLi8{-moz-transform:scale;-moz-transform-origin:0% 0%;-ms-transform:scale;-ms-transform-origin:0% 0%;-o-transform:scale;-o-transform-origin:0% 0%;-webkit-transform:scale;-webkit-transform-origin:0% 0%;height:42.00px;transform:scale;transform-origin:0% 0%;width:274.13px;}

