@font-face {font-family:"FZHTTest-FX";src: url("../fonts/FZHTTest.ttf"); }.p1span3{position:absolute;}
.p1para1{font-size:21.00px;line-height:108%;}
.p1textdiv0{height:2834.96px;left:42.52px;position:absolute;top:42.52px;width:994.96px;}
.p1InAdiv5{height:413.61px;left:101.47px;position:absolute;top:1340.48px;width:792.01px;}
.p1InAdiv6{height:413.61px;left:101.47px;position:absolute;top:1890.49px;width:792.01px;}
.p1InAdiv7{height:413.61px;left:101.47px;position:absolute;top:2378.90px;width:792.01px;}
.p1InAdiv4{height:450.00px;left:101.47px;position:absolute;top:786.07px;width:792.01px;}
.p1pGrpDiv-FxLi2{-moz-transform:scale;-moz-transform-origin:0% 0%;-ms-transform:scale;-ms-transform-origin:0% 0%;-o-transform:scale;-o-transform-origin:0% 0%;-webkit-transform:scale;-webkit-transform-origin:0% 0%;height:2834.96px;transform:scale;transform-origin:0% 0%;width:994.96px;}

