@font-face {font-family:"FZHTTest-FX";src: url("../fonts/FZHTTest.ttf"); }@font-face {font-family:"NEU-BZ-FX";src: url("../fonts/NEU-BZ.ttf"); }@font-face {font-family:"SimSun-FX";src: url("../fonts/SimSun.ttf"); }.p6span3{position:absolute;}
.p6para1{font-size:21.00px;line-height:108%;}
.p6image6{height:1260.00px;position:absolute;width:640.00px;}
.p6graphic8{left:-0.75px;pointer-events:none;position:absolute;top:-0.75px;}
.p6textdiv0{height:1174.96px;left:42.52px;position:absolute;top:42.52px;width:554.96px;}
.p6InAdiv4{height:398.00px;left:32.98px;position:absolute;top:300.96px;width:483.00px;}
.p6InAdiv7{height:62.00px;left:132.48px;position:absolute;top:981.80px;width:290.00px;}
.p6imagediv5{height:1260.00px;left:-42.52px;overflow:hidden;position:absolute;text-align:left;top:-42.52px;width:640.00px;}
.p6pGrpDiv-FxLi2{-moz-transform:scale;-moz-transform-origin:0% 0%;-ms-transform:scale;-ms-transform-origin:0% 0%;-o-transform:scale;-o-transform-origin:0% 0%;-webkit-transform:scale;-webkit-transform-origin:0% 0%;height:1174.96px;transform:scale;transform-origin:0% 0%;width:554.96px;}

