@font-face {font-family:"FZHTTest-FX";src: url("../fonts/FZHTTest.ttf"); }@font-face {font-family:"NEU-BZ-FX";src: url("../fonts/NEU-BZ.ttf"); }@font-face {font-family:"SimSun-FX";src: url("../fonts/SimSun.ttf"); }.p1span15{color:RGB(255,255,255);position:absolute;}
.p1span3{position:absolute;}
.p1para1{font-size:21.00px;line-height:108%;}
.p1span13{color:RGB(255,255,255);font-family:'NEU-BZ-FX';font-size:24.00px;position:absolute;}
.p1image5{height:1260.00px;position:absolute;width:640.00px;}
.p1image7{height:869.00px;position:absolute;width:640.00px;}
.p1para10{color:RGB(255,255,255);font-family:'FZDiHouTiS-FX';font-size:24.00px;line-height:108%;}
.p1graphic18{left:-0.75px;pointer-events:none;position:absolute;top:-0.75px;}
.p1para12{display:inline;left:0.00px;letter-spacing:0.00px;position:absolute;top:0.00px;}
.p1para16{display:inline;left:168.00px;letter-spacing:0.00px;position:absolute;top:0.00px;}
.p1para14{display:inline;left:24.00px;letter-spacing:0.00px;position:absolute;top:0.00px;}
.p1textdiv0{height:1174.96px;left:42.52px;position:absolute;top:42.52px;width:554.96px;}
.p1textdiv9{height:24.00px;left:181.48px;position:absolute;top:967.96px;width:192.00px;}
.p1InAdiv8{height:398.00px;left:35.98px;position:absolute;top:556.85px;width:483.00px;}
.p1InAdiv17{height:62.00px;left:132.48px;position:absolute;top:1014.99px;width:290.00px;}
.p1imagediv4{height:1260.00px;left:-42.52px;overflow:hidden;position:absolute;text-align:left;top:-42.52px;width:640.00px;}
.p1imagediv6{height:869.00px;left:-42.52px;overflow:hidden;position:absolute;text-align:left;top:348.48px;width:640.00px;}
.p1pGrpDiv-FxLi2{-moz-transform:scale;-moz-transform-origin:0% 0%;-ms-transform:scale;-ms-transform-origin:0% 0%;-o-transform:scale;-o-transform-origin:0% 0%;-webkit-transform:scale;-webkit-transform-origin:0% 0%;height:1174.96px;transform:scale;transform-origin:0% 0%;width:554.96px;}
.p1pGrpDiv-FxLi11{-moz-transform:scale;-moz-transform-origin:0% 0%;-ms-transform:scale;-ms-transform-origin:0% 0%;-o-transform:scale;-o-transform-origin:0% 0%;-webkit-transform:scale;-webkit-transform-origin:0% 0%;height:24.00px;transform:scale;transform-origin:0% 0%;width:192.00px;}

