@font-face {font-family:"FZHTTest-FX";src: url("../fonts/FZHTTest.ttf"); }@font-face {font-family:"FZKai-Z03-FX";src: url("../fonts/FZKai-Z03.ttf"); }@font-face {font-family:"SimSun-FX";src: url("../fonts/SimSun.ttf"); }.ui-mobile .ui-page-active{display:block;overflow:hidden;}
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper{background-color:transparent;}
a{text-decoration:none;}
body{line-height:1;overflow:hidden;white-space:normal;word-break:break-all;word-wrap:break-word;}
div{white-space:normal;}
math{-webkit-text-fill-color:initial;-webkit-text-stroke-color:initial;-webkit-text-stroke-width:initial;-webkit-transform-origin:0% 0%;color:RGB(0,0,0);font-family:NEU-BZ;white-space:nowrap;}
p{margin:0px;padding:0px;white-space:normal;}
rt{font-family:NEU-XT;font-size:45%;}
span{-webkit-text-fill-color:initial;-webkit-text-stroke-color:initial;-webkit-text-stroke-width:initial;line-height:1em;white-space:pre;}
table{border-collapse:collapse;text-indent:0em;white-space:normal;}
td{min-height:1px;min-width:1px;position:relative;}
th{min-height:1px;min-width:1px;position:relative;}
body{color:RGB(0,0,0);font-family:'FZKai-Z03-FX';font-size:21.00px;font-weight:normal;mainLang:simpChin;padding-bottom:0.00px;padding-left:0.00px;padding-right:0.00px;padding-top:0.00px;superSubScale:0.5;text-align:justify;text-decoration:none;}
.parastyle1{color:RGB(0,0,0);font-family:'FZShuSong-Z01-FX';font-size:10.50px;font-weight:normal;mainLang:simpChin;padding-bottom:0.00px;padding-left:0.00px;padding-right:0.00px;padding-top:0.00px;text-align:justify;text-decoration:none;}
.parastyle3{color:initial;font-size:10.50px;font-style:normal;}
.parastyle4{color:initial;font-size:10.50px;font-style:normal;}
.parastyle5{color:initial;font-size:10.50px;font-style:normal;}
.parastyle6{color:initial;font-size:10.50px;font-style:normal;}
.parastyle7{color:initial;font-size:10.50px;font-style:normal;}
.parastyle8{color:initial;font-size:10.50px;font-style:normal;}
.parastyle9{color:initial;font-size:10.50px;font-style:normal;}
.parastyle10{color:initial;font-size:10.50px;font-style:normal;}
.parastyle11{color:initial;font-size:10.50px;font-style:normal;}
.parastyle2{color:initial;font-family:'FZShuSong-Z01-FX';font-size:21.00px;font-weight:normal;mainLang:simpChin;padding-bottom:0.00px;padding-left:0.00px;padding-right:0.00px;padding-top:0.00px;text-align:justify;text-decoration:none;}
.charstyle1{color:RGB(140,207,243);text-decoration:underline;}

