/* This is a compiled file, you should be editing the file in the templates directory */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;

  z-index: 2000;
  position: fixed;
  margin: auto;
  top: -160px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 8px;
  overflow: hidden;
}

.pace .pace-progress {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;

  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  display: block;
  position: absolute;
  right: 100%;
  width: 100%;
  top: 3px;
  height: 8px;
  font-size: 12px;
  background: #f76317;
  color: #f76317;
  line-height: 60px;
  font-weight: bold;
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;

  -webkit-box-shadow: 120px 0 #222222, 240px 0 #222222;
  -ms-box-shadow: 120px 0 #222222, 240px 0 #222222;
  box-shadow: 120px 0 #222222, 240px 0 #222222;
}

.pace-activity {
  position: absolute;
  width: 100%;
  height: 9px;
  z-index: 2001;
  box-shadow: inset 0 0 0 3px #222222, inset 0 0 0 3px #222222;
  border-radius: 9px;
}

.pace-inactive {
  display: none;
}
